:root{
 --black: #241c15;
 --gray: rgba(36,28,21,0.3);
 --dark-gray: rgba(36,28,21,0.65);
 --yellow: #ffe01b;
 --light-yellow: #fbeeca;
 --teal: #007c89;
 --dark-teal: #004e56;

 --large: 32px;
 --medium: 18px;
 --small: 14px;
}
*{
 /* border: 1px solid blue; */
 border-radius: 0;
 color: var(--black);
 font-family: poppins;
 font-weight: 300;
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

.row{
 display: flex;
 flex-direction: row;
}
.column{
 display: flex;
 flex-direction: column;
}
.underline{
 text-decoration: underline;
}
p, #promo{
 line-height: 1.5;
 font-size: var(--small);
}


main{
 background-color: #fff;
 width: 70%;
 height: 100vh;
 border-left: 8px solid var(--yellow);
}
h1{
 font-size: var(--large);
}
#subheading{
 font-size: 100%;
 margin-bottom: 5px;
}
#logo{
 margin: 10px;
}
#content{
 width: 42%;
 margin: auto;
}
a{
 color: var(--teal);
 text-decoration: none;
}
a:hover{
 color: var(--dark-teal);
}
.prompt{
 margin: 15px 0;
}
label{
 margin-bottom: 10px;
 font-weight: 500;
 font-size: 100%;
}
label::selection, a::selection{
 background-color: transparent;
}
input[type='email'], input[type='text'], input[type='password']{
 transition: 0.1s;
 border: 1px solid var(--gray);
 padding: 15px;
 font-size: 100%;
 height: 45px;
}
#checkbox-div{
 /* text-align: center; */
 /* line-height: 100%; */
 align-items: center;
 justify-content: flex-start;
 gap: 15px;
}
#promo{
 margin: auto 0;
 font-weight: 300;
}
input[type='checkbox']{
 margin: 5px 0;
 width: 25px;
 height: 25px;
}
#check:checked{
 background-color: var(--teal);
}
input:focus{
 transition: 0.3s;
 border: 1px solid var(--teal);
 box-shadow: inset 0 0 0 1px #007c89;
 outline: none;
}
button{
 border: 1px solid var(--gray);
 background-color: transparent;
 color: var(--gray);
 font-weight: 600;
 font-size: 16px;
 margin: 20px 0;
 width: 160px;
 height: 50px;
}

@keyframes slidein{
 from{
  /* display: none; */
  /* margin-top: -20px; */
  opacity: 0;
 }
 to{
  /* display: inline-block; */
  opacity: 1;
  /* margin-top: 0; */
 }
}
@keyframes slideout{
 from{
  /* display: none; */
  /* margin-top: -20px; */
  opacity: 1;
 }
 to{
  /* display: inline-block; */
  opacity: 0;
  /* margin-top: 0; */
 }
}
#rules{
 /* animation: slideout 1s forwards; */
 margin-top: 10px;
 list-style: none;
 display: none;
 grid-template-columns: 50% 50%;
}
#rules li::before{
 content: "\2022";
 color: var(--teal);
 /* font-weight: bold; */
 display: inline-block;
 width: 15px;
 /* height: 20px; */
 font-size: 20px;
 /* align-self: center; */
 /* margin-left: -5px; */
 /* text-justify: c; */
}
#rules li{
 animation: slidein 1s forwards;
 /* transition: 0.3s; */
}
/* .one{
 animation: slide 1s forwards;
 display: none;
}
.two{
 animation: slide 2s forwards;
 display: none;
}
.three{
 animation: slide 10s forwards;
 display: none;
} */
#user-modal{
 margin-top: 5px;
 display: none;
 animation: slidein 1s forwards;
 color: var(--dark-gray);
}

section{
 background-color: var(--light-yellow);
 width: 30%;
 height: 100vh;
 justify-content: space-around;
 align-items: center;
}
